*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style : none;
    text-decoration: none;
    border-collapse : collapse;
    margin : 0px;
    padding : 0px;
    color : #000;
}
h1{
    font-size : 48px;
    font-weight: 100;
}
.contents1{
    font-size : 20px;
    font-weight : lighter;
    color : black;
}


.intro_bg{
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;    
}
.header{
    display : flex;
    width : 1280px ;
    margin : auto ;
}
.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: 100%;
    margin-right: 35px;
}



.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color : #000;
}
.intro_txt{
    width : 100%;
    margin : 125px auto 231px auto;
    text-align: center;
}

.intro_txt > h1,
.intro_txt > h4{
    color : #000;
}


.logo{
    float: left;
    margin-right: 450px;
    margin-top : 20px;
    margin-bottom: 10px;
}

.amount{
    position : relative;
    top:-66px;
    display: flex;
    width : 1280px;
    background :white;
    margin : auto;
    box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
}
.amount > li {
    flex : 1;
    height: 132px;
    background : rgb(85, 0, 255);
}
.amount > li > div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}
.amount >li:not(:last-child)>div{
    border-right : 1px solid #E1E1E1;
}
.amount_txt{
    font-size : 20px;
    font-weight : lighter;
    color : white;
}
.amount_txt2{
    font-size: 24px;
    color : white;
}
/* main_txt0 */
.main_txt0{
    width : 100% ;
    height : 601px;
    margin-top : -132px;
    background-color: #f1f2f3;
}
.main_txt0 > h1 {
    padding-top: 116px;
    text-align : center;
}
.main_txt0 > .contents1 {
    text-align: center;

}