*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style : none;
    text-decoration: none;
    border-collapse : collapse;
    margin : 0px;
    padding : 0px;
    color : #000;
}
body{
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: none;
    background-position: center center;}

h1{
    font-size : 48px;
    font-weight: 100;
}
.contents1{
    font-size : 20px;
    font-weight : lighter;
    color : black;
}


.intro_bg{
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;    
}
.header{
    display : flex;
    width : 1280px ;
    margin : auto ;
}
.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: 100%;
    margin-right: 35px;
}



.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color : #000;
}
.intro_txt{
    width : 100%;
    margin : 110px auto 110px auto;
    text-align: center;
}

.intro_txt > h1,
.intro_txt > h4{
    color : #000;
}


.logo{
    float: left;
    margin-right: 450px;
    margin-top : 20px;
    margin-bottom: 10px;
}

.amount{
    display: flex;
    width : 1280px;
    background :white;
    margin : auto;
    box-shadow: -5px 10px 10px rgba(0,0,0,0.5);
}
.amount > li {
    flex : 1;
    height: 132px;
    background-color : rgb(83, 89, 255);
}
.amount > li > div {
    text-align: center;
    margin-top: 37px;
    height: 57px;
}
.amount >li:not(:last-child)>div{
    border-right : 1px solid #E1E1E1;
}
.amount_txt{
    font-size : 20px;
    font-weight : lighter;
    color : white;
}
.amount_txt2{
    font-size: 24px;
    color : white;
}
footer {
    width : 100% ;
    margin-top: 125px;
}

.footer_list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer_content{
    margin-left: 20px;
    text-align: right;
}

.footer_logo{
    padding:40px;
}

/* 호버 효과 */

.nav li:hover {
    background: #f1f1f1;}
    

.nav li:hover a {
    color: #000;
    
}